<li class="item flexrow" data-attribute={{key}} data-item-id="{{queue._id}}">
  <img class="sheet-competence-img" src="{{queue.img}}" />
  <span class="display-label flex-grow">
    {{#if (eq queue.type 'ombre')}}
    <img class="sheet-competence-img" src="systems/foundryvtt-reve-de-dragon/icons/competence_thanatos.webp" />
    {{/if}}
    <a>{{queue.name}}</a>
  </span>
  <div class="item-controls">
    <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    {{#if queue.system.refoulement}}
    <a class="item-action">Refouler</a>
    {{/if}}
  </div>
</li>
