<ul class="flex-compteurs">
  <li data-attribute="vie">
    <label class="compteur">
      <a class="jet-vie" name="system.sante.vie.label">Vie</a>
      <a class="vie-moins"><i class="fas fa-minus-square"></i></a>
      <input class="resource-content" type="text" name="system.sante.vie.value" value="{{system.sante.vie.value}}" data-dtype="Number" />
      / {{#if @root.options.vueDetaillee}}
      <input class="resource-content" type="text" name="system.sante.vie.max" value="{{system.sante.vie.max}}" data-dtype="Number"/>
      {{else}}{{system.sante.vie.max}}{{/if}}
      <a class="vie-plus"><i class="fas fa-plus-square"></i></a>
    </label>
  </li>
  <li data-attribute="endurance">
    <label class="compteur">
      <a class="jet-endurance" name="system.sante.endurance.label">Endurance</a>
      <a class="endurance-moins"><i class="fas fa-minus-square"></i></a>
      <input class="resource-content" type="text" name="system.sante.endurance.value" value="{{system.sante.endurance.value}}" data-dtype="Number"/>
      / {{#if @root.options.vueDetaillee}}
      <input class="resource-content" type="text" name="system.sante.endurance.max" value="{{system.sante.endurance.max}}" data-dtype="Number"/>
      {{else}}{{system.sante.endurance.max}}{{/if}}
      <a class="endurance-plus"><i class="fas fa-plus-square"></i></a>
    </label>
  </li>
</ul>
