{{#if jeux.length}}
<h3>Jeux :</h3>
<ul class="item-list alterne-list">
  {{#each jeux as |jeu id|}}
  <li class="item flexrow list-item" data-item-id="{{jeu._id}}"><span class="competence-title jeu-label"><a>{{jeu.name}} (base {{jeu.system.base}})</a></span>
    <div class="item-controls flex-shrink">
      <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ul>
{{/if}}