<h4>{{alias}} peut progresser dans sa compétence {{competence}} ! </h4>
<div>Son niveau en {{competence}} peut évoluer à {{niveau}} pour un archétype de {{archetype}} ! </div>
<div>Son experience dans cette compétence est de {{xp}}. </div>
<div>Vous devez ouvrir votre fiche de personnage et appliquer (ou pas) l'augmentation manuellement.</div>
{{#if archetypeWarning}}
<div><strong>ATTENTION !!</strong> Si vous appliquez cette augmentation, votre compétence dépassera l'archétype. 
  Veuillez contrôler que votre archétype est à jour, ou bien ne pas augmenter le niveau de cette compétence.</div>
{{/if}}
