<img class="chat-icon" src="{{competence.img}}" alt="{{oeuvre.system.competence}}" />
<h4>
  {{alias}} tente de jouer le morceau : {{oeuvre.name}} (niveau {{oeuvre.system.niveau}})
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<div>
  {{#if rolled.isSuccess}}
  {{alias}} réussit son interprétation avec une qualité de {{qualiteFinale}} . 
  {{else}}
  {{alias}} est peu inspiré(e) et son interprétation a une qualité de {{qualiteFinale}}.
  {{/if}}
  {{> "systems/foundryvtt-reve-de-dragon/templates/chat-info-appel-au-moral.html"}}
</div>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-description.html" oeuvre.system}}
