<form class="skill-roll-dialog">
  <h2>{{rencontre.name}} de force {{rencontre.system.force}}!</h2>
  <div class="grid grid-2col">
    <div class="flex-group-left">
      <img class="chat-icon" src="{{competence.img}}" alt="{{competence.name}}"/>
      <div class="grid grid-2col">
        <label for="carac">Rêve actuel:</label><label class="flex-grow" name="carac">{{selectedCarac.value}}</label>
        <label for="competence">{{competence.name}}:</label><label class="flex-grow" name="competence">{{numberFormat competence.system.niveau decimals=0 sign=true}}</label>
      </div>
    </div>
    <div class="flex-group-left">
      {{>"systems/foundryvtt-ctm/templates/partial-roll-diffFixe.html"}}
      {{>"systems/foundryvtt-ctm/templates/partial-roll-diffCondition.html"}}
      {{>"systems/foundryvtt-ctm/templates/partial-roll-forcer.html"}}
      <div id="tableAjustements" class="flexrow"></div>
    </div>
  </div>

  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
</form>
  
<script>
</script>
  