<option value="hast">Armes Hast</option>
<option value="lance">Lance</option>
<option value="baton">Bâton</option>
<option value="doubledragonne">Double Dragonne</option>
<option value="esparlongue">Esparlongue</option>
<option value="epeedragonne">Epée Dragonne</option>
<option value="epeebatarde">Epée Bâtarde</option>
<option value="epeecyane">Epée Cyane</option>
<option value="epeesorde">Epée Sorde</option>
<option value="grandehache">Grande Hache</option>
<option value="hachebataille">Hache de Bataille</option>
<option value="epeegnome">Epée Gnome</option>
<option value="masse">Masse</option>
<option value="gourdin">Gourdin</option>
<option value="fleau">Fléaux</option>
<option value="dague">Dague</option>
<option value="armenaturelle">Armes Naturelles</option>
<option value="autre">Autres</option>
