<option value="vaisseau">Vaisseau</option>
<option value="sirene">Sirène</option>
<option value="faucon">Faucon</option>
<option value="couronne">Couronne</option>
<option value="dragon">Dragon</option>
<option value="epees">Epées</option>
<option value="lyre">Lyre</option>
<option value="serpent">Serpent</option>
<option value="poissonacrobate">Poisson Acrobate</option>
<option value="araignee">Araignée</option>
<option value="roseau">Roseau</option>
<option value="chateaudormant">Chateau Dormant</option>
