<option value="Fausse Suppure">Fausse Suppure (Bonus 1, Brins : 11)</option>
<option value="Suppure">Suppure (Bonus 2, Brins : 10)</option>
<option value="Méritoine">Méritoine (Bonus 3, Brins : 9)</option>
<option value="Ortigal">Ortigal (Bonus 4, Brins : 8)</option>
<option value="Ortigal Noir">Ortigal Noir (Bonus 5, Brins : 7)</option>
<option value="Bélidane">Bélidane (Bonus 6, Brins : 6)</option>
<option value="Faux Murus">Faux Murus (Bonus 7, Brins : 5)</option>
<option value="Murus">Murus (Bonus 8, Brins : 4)</option>
<option value="Tanemiel">Tanemiel (Bonus 9, Brins : 3)</option>
<option value="Tanemiel Doré">Tanemiel Doré (Bonus 10, Brins : 2)</option>
<option value="Autre">Autre</option>
