<div class="control-icon rdd-combat ">
  <img class="rdd-hud-togglebutton" src="systems/foundryvtt-reve-de-dragon/icons/heures/hd06.svg" width="36" height="36" title="Attaque"/>
  <div class="rdd-hud-list tokenhudext left">
    {{#each actions as |action key|}}
    {{#unless action.system.initOnly}}
    <div class="control-icon tokenhudicon rdd-hud-menu rdd-attaque"
        data-combatant-id="{{../combatant.id}}"
        data-action-index="{{action.index}}"
        title="{{action.name}}">
      <label>{{action.name}}  {{action.system.infoMain}}</label>
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>