<form class="{{cssClass}}" autocomplete="off">
  {{>"systems/ctm/templates/header-item.html"}}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label for="xp">Encombrement </label>
      <input class="attribute-value" type="text" name="system.encombrement" value="{{system.encombrement}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
      <label>Quantité </label>
      <input class="attribute-value" type="text" name="system.quantite" value="{{system.quantite}}" data-dtype="Number" />
    </div>      
    <div class="form-group">
      <label for="xp">Qualité</label>
      <input class="attribute-value" type="text" name="system.qualite" value="{{system.qualite}}" data-dtype="Number"/>
    </div>
    <div class="form-group item-cout">
      <label for="xp">Prix (sols) </label>
      <input class="attribute-value" type="text" name="system.cout" value="{{system.cout}}" data-dtype="Number"/>
    </div>

    {{>"systems/ctm/templates/partial-item-description.html"}}
  </section>
</form>
