<form class="{{cssClass}}" autocomplete="off">
  {{>"systems/ctm/templates/header-item.html"}}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label class="alchimie-title" for="xp">Type</label>
      <select name="system.type" data-dtype="String">
        {{#select system.type}}
        <option value="recreative">Récréative</option>
        <option value="soliste">Soliste</option>
        {{/select}}    
      </select>
    </div>
    <div class="form-group">
      <label class="alchimie-title" for="xp">Agilité ?</label>
      <input class="attribute-value" type="checkbox" name="system.agilite" {{#if system.agilite}}checked{{/if}}/>    
    </div>
    <div class="form-group">
        <label class="alchimie-title" for="xp">Apparence ?</label>
      <input class="attribute-value" type="checkbox" name="system.apparence"  {{#if system.apparence}}checked{{/if}}/>    
    </div>
    <div class="form-group">
      <label class="alchimie-title" for="xp">Niveau</label>
      <input class="attribute-value" type="text" name="system.niveau" value="{{system.niveau}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
      <label>Référence / Auteur</label>
      <input class="attribute-value" type="text" name="system.reference" value="{{system.reference}}" data-dtype="String"/>
    </div>

    {{>"systems/ctm/templates/partial-item-description.html"}}
  </section>
</form>
