<form class="{{cssClass}}" autocomplete="off">
  {{>"systems/ctm/templates/header-item.html"}}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="form-group">
      <label for="niveau">Coordonnées TMR </label>
      <input class="attribute-value" type="text" name="system.coord" value="{{system.coord}}" data-dtype="String"/>
    </div>
    <div class="form-group">
      <label for="niveau">Mode spécifique</label>
      <select name="system.specific" id="specific" data-dtype="String">
        {{#select system.specific}}
        {{>"systems/ctm/templates/enum-tmr-effet.html"}}
        {{/select}}
    </select>
    </div>

    {{>"systems/ctm/templates/partial-item-description.html"}}
  </section>
</form>
